#!/bin/sh

# Setting this, so the repo does not need to be given on the commandline:
{% if hostvars[groups['repo_server'][0]].ansible_port != 22 %}
export BORG_REPO=ssh://{{ repo.backup_user }}@{{ hostvars[groups['repo_server'][0]].inventory_hostname }}:{{hostvars[groups['repo_server'][0]].ansible_port}}{{ repo.repo_path }}/{{ ansible_hostname }}
{% else %}
export BORG_REPO=ssh://{{ repo.backup_user }}@{{ hostvars[groups['repo_server'][0]].inventory_hostname }}{{ repo.repo_path }}/{{ ansible_hostname }}
{% endif %}

# Setting this, so you won't be asked for your repository passphrase:
export BORG_PASSPHRASE='{{ hostvars[inventory_hostname].repo_encryption_key }}'
# Set ssh key for backup
export BORG_RSH='ssh -i {{ client.ssh_key_location }}/backup_key'
# or this to ask an external program to supply the passphrase:
# export BORG_PASSCOMMAND='pass show backup'

# some helpers and error handling:
info() { printf "\n%s %s\n\n" "$( date )" "$*" >&2; }
trap 'echo $( date ) Backup interrupted >&2; exit 2' INT TERM

info "Starting backup"

# Backup the most important directories into an archive named after
# the machine this script is currently running on:

borg create                         \
    --verbose                       \
    --filter AME                    \
    --list                          \
    --stats                         \
    --show-rc                       \
    --compression lz4               \
    --exclude-caches                \
    --exclude '/dev'                \
    --exclude '/proc'               \
    --exclude '/media'              \
    --exclude '/mnt'                \
    --exclude '/snap'               \
    --exclude '/sys'                \
    --exclude '/home/*/.cache/*'    \
    --exclude '/home/*/.steam/steam/steamapps/*'    \
    --exclude '/var/cache/*'        \
    --exclude '/var/tmp/*'          \
                                    \
    ::'{now}'                       \
    /                               \

backup_exit=$?

info "Pruning repository"

# Use the `prune` subcommand to maintain 7 daily, 4 weekly and 6 monthly
# archives of THIS machine. The '{hostname}-' prefix is very important to
# limit prune's operation to this machine's archives and not apply to
# other machines' archives also:

borg prune                          \
    --list                          \
    --show-rc                       \
    --keep-daily    7               \
    --keep-weekly   4               \
    --keep-monthly  6               \

prune_exit=$?

# use highest exit code as global exit code
global_exit=$(( backup_exit > prune_exit ? backup_exit : prune_exit ))

if [ ${global_exit} -eq 1 ];
then
    info "Backup and/or Prune finished with a warning"
fi

if [ ${global_exit} -gt 1 ];
then
    info "Backup and/or Prune finished with an error"
fi

exit ${global_exit}
