#!/bin/sh

# Setting this, so the repo does not need to be given on the commandline:
{% if hostvars[groups['repo_server'][0]].ansible_port != 22 %}
export BORG_REPO=ssh://{{ borg_server_backup_user }}@{{ hostvars[groups['repo_server'][0]].ansible_host }}:{{hostvars[groups['repo_server'][0]].ansible_port}}{{ borg_server_repo_path }}/{{ ansible_hostname }}
{% else %}
export BORG_REPO=ssh://{{ borg_server_backup_user }}@{{ hostvars[groups['repo_server'][0]].ansible_host }}{{ borg_server_repo_path }}/{{ ansible_hostname }}
{% endif %}

# Setting this, so you won't be asked for your repository passphrase:
export BORG_PASSPHRASE='{{ borg_repokey }}'
# Set ssh key for backup
export BORG_RSH='ssh -i {{ borg_client_ssh_key_location }}/backup_key'
# or this to ask an external program to supply the passphrase:
# export BORG_PASSCOMMAND='pass show backup'

# some helpers and error handling:
info() { printf "\n%s %s\n\n" "$( date )" "$*" >&2; }
trap 'echo $( date ) Backup interrupted >&2; exit 2' INT TERM

info "Starting backup"

# Backup the most important directories into an archive named after
# the machine this script is currently running on:

borg create                         \
    --verbose                       \
    --filter AME                    \
    --list                          \
    --stats                         \
    --show-rc                       \
    --compression lz4               \
    --exclude-caches                \
    --exclude '/dev'                \
    --exclude '/proc'               \
    --exclude '/media'              \
    --exclude '/mnt'                \
    --exclude '/snap'               \
    --exclude '/sys'                \
{% for exclude in borg_excludes %}
    --exclude '{{ exclude }}'         \
{% endfor %}
                                    \
    ::'{now}'                       \
    {{ borg_root_path }}                               \

backup_exit=$?

info "Pruning repository"

# Use the `prune` subcommand to maintain 7 daily, 4 weekly and 6 monthly
# archives of THIS machine. The '{hostname}-' prefix is very important to
# limit prune's operation to this machine's archives and not apply to
# other machines' archives also:

borg prune                          \
    --list                          \
    --show-rc                       \
    --keep-daily    {{ borg_keep_daily }}               \
    --keep-weekly   {{ borg_keep_weekly }}               \
    --keep-monthly  {{ borg_keep_monthly }}               \

prune_exit=$?

# use highest exit code as global exit code
global_exit=$(( backup_exit > prune_exit ? backup_exit : prune_exit ))

if [ ${global_exit} -eq 1 ];
then
    info "Backup and/or Prune finished with a warning"
fi

if [ ${global_exit} -gt 1 ];
then
    info "Backup and/or Prune finished with an error"
fi

exit ${global_exit}
